@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700&display=swap');
/* shared syles */
*{
    font-family: 'Work Sans', sans-serif;

}
.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    border: 0;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}


/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner syles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.banner-img{
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* feature styles */
.feature-container{
    display: flex;
    align-items: center;
}
.feature-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.feature-explore-container{
    padding-left: 70px;
    padding-right: 70px;
}
.feature-exp-title{
    font-size: 2.8rem;
}
#quick-list{
    color: #727272;
    font-weight: 500;
}
#of-our{
    color: #131313;
    font-weight: 700;

}
#features{
    color: #FF900E;
    font-weight: 700;
}
.feature-exp-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;

}




/* responsive styles */

/* mobile styles */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .feature-container{
        flex-direction: column;
    }
    .feature-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    .feature-container{
        flex-direction: column;
    }
}